@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  height: 80px;
  background-color: rgb(18, 18, 62);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu li {
  list-style: none;
  margin: 0 23px;
  transition: transform 0.5s ease-in-out;
}
.nav-menu li a {
  text-decoration: none;
  color: white;
}
.nav-menu li a:hover {
  color: #2c9ce7;
}
.nav-menu li:hover {
  transform: translateY(-10px);
}
.left h1 {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 1.5s ease-in-out;
}
.left h1:hover {
  color: #2c9ce7;
  transform: scale(1.2);
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Banner section style */
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.firstSection div {
  width: 30%;
}
.leftSection {
  font-size: 3rem;
}
.rightSection img {
  width: 80%;
}
.name-color {
  color: #2c9ce7;
}
.secondSection {
  width: 80vw;
  margin: auto;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(18, 18, 62);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu li{
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }

  /* Banner section responsive style */
  .firstSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .firstSection div {
    width: 90%;
    margin: 0 auto;
  }
  .leftSection {
    font-size: 1.8rem;
  }
  .rightSection img {
    width: 90%;
  }
}
